    Create project 01/06/2565
    Create by moremoo
    Project : Pandas io.StringIO(memory file, read string as file)

In [3]:
import pandas as pd
import requests
import io
# from io import StringIO

In [4]:
print(f'pandas version: {pd.__version__}')

pandas version: 1.1.3

In [5]:
pd.Timestamp.now()

Timestamp('2023-05-31 22:17:06.895507')

# Ex1 : แปลงตัว String ให้เหมือนอ่านไฟล์ โดยใช้ StringIO

In [12]:
s="""
p_id,name,name_en,region,area_km2
กจ,กาญจนบุรี,Kanchannaburi,C,19483.148
กทม,กรุงเทพมหานคร,Bangkok,C,1568.737
จบ,จันทบุรี,Chanthaburi,C,6338.0
ฉช,ฉะเชิงเทรา,Chachoengsao,C,5351.0
"""

In [11]:
dt = pd.read_csv(io.StringIO(s))
dt

  p_id           name        name_en region   area_km2
0   กจ      กาญจนบุรี  Kanchannaburi      C  19483.148
1  กทม  กรุงเทพมหานคร        Bangkok      C   1568.737
2   จบ       จันทบุรี    Chanthaburi      C   6338.000
3   ฉช     ฉะเชิงเทรา   Chachoengsao      C   5351.000

# Ex2 : Requests GET

In [15]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/BaskinRobbins.csv'
df = pd.read_csv(url)
df

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g)
0,Bananas Foster,160,8.0,0.2,20,16,2.0
1,Baseball Nut,160,9.0,0.2,19,13,3.0
2,Beavertails Pastry,170,9.0,0.3,21,15,3.0
3,Blackberry Frozen Yogurt,120,4.0,0.1,17,16,3.0
4,Blue Raspberry Sherbet,130,2.0,0.1,26,20,2.0
...,...,...,...,...,...,...,...
65,Very Berry Strawberry,200,10.0,0.4,24,21,4.0
66,Watermelon Splash,120,0.5,0.0,27,20,0.1
67,Wild ‘n Reckless,80,1.5,0.0,16,12,1.0
68,Winter White Chocolate,160,8.0,0.2,20,16,2.0
69,World Class Chocolate,260,60.0,0.4,25,18,5.0

In [18]:
url = 'https://github.com/prasertcbs/basic-dataset/raw/master/BaskinRobbins.csv'
r = requests.get(url)
print(r.text[:500])

Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g)
Bananas Foster,160,8.0,0.2,20,16,2.0
Baseball Nut,160,9.0,0.2,19,13,3.0
Beavertails Pastry,170,9.0,0.3,21,15,3.0
Blackberry Frozen Yogurt,120,4.0,0.1,17,16,3.0
Blue Raspberry Sherbet,130,2.0,0.1,26,20,2.0
Blueberry Cheesecake,150,8.0,0.3,18,14,3.0
Brownie Sundae(No Sugar Added),120,5.0,0.1,21,4,3.0
Caramel Praline Cheesecake,170,8.0,0.2,21,17,3.0
NSA Caramel Turtle Truffle,200,8.0,0.2,38,7,5.0
Cherries Jubilee,

In [19]:
type(r.text)

str

In [20]:
do = pd.read_csv(io.StringIO(r.text))
do[:5]

,Flavour,Calories,Total Fat (g),Trans Fat (g),Carbohydrates (g),Sugars (g),Protein (g)
0,Bananas Foster,160,8.0,0.2,20,16,2.0
1,Baseball Nut,160,9.0,0.2,19,13,3.0
2,Beavertails Pastry,170,9.0,0.3,21,15,3.0
3,Blackberry Frozen Yogurt,120,4.0,0.1,17,16,3.0
4,Blue Raspberry Sherbet,130,2.0,0.1,26,20,2.0

In [23]:
x = io.StringIO(r.text)
print(x)
print(type(x))

<_io.StringIO object at 0x7fc5e80354c0>
<class '_io.StringIO'>